.userComponent {
    display: flex;
    background-color: rgb(185, 217, 247);
    width: calc(100% - 10px);
    margin: 5px 0px 0px 5px;
    border-radius: 10px;
}

.userComponent_name {
    font-size: 18px;
    font-weight: bold;
}

.userComponent_avatar {
    width: 88px;
    border-radius: 5px;
    height: 88px;
    object-fit: contain;
    box-shadow: 4px 3px #8bc0d4
}

.userComponent_imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userComponent_col1 {
    display: flex;
    width: 25%;
    height: 100%;
}

.userComponent_col2 {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    padding: 5px 5px 8px 5px;
}

.userComponent_username {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 16px;
}

.userComponent_email {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 16px;
}

.userComponent_phone {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 16px;
}

.userComponent_website {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 16px;
}